---
//todo este codigo se ejecuta en el servidor antes de que se renderice la pagina, o sea en tiempo de construccion
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/pokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import Title from "@components/shared/title.astro";
import { Icon } from "astro-icon/components";
//funcion para manejar ruta dinamica
// return un array de objetos con los parametros que se pueden usar en la ruta
export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;
  return results.map(({ name, url }) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params; //obtenemos el parametro de la url  /pokemons/:name
const { url } = Astro.props;
const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title={`Pokemon - # ${id} ${name}`}
  description={`informacion sobre el pokemon ${name}`}
  image={imgSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex flex-row">
      <div class="flex flex-col">
        <!-- <a href="/">Home</a> -->
        <button onclick="history.back()" class="text-blue-500">Regresar</button>
        <Title>{name}</Title>
      </div>
      <button class="ml-4" id="btn-fav" data-name={name} data-id={id}>
        <!-- SE USARAN atributos data para obtener los valores en el script ya que usar define:var transformara el script en JS sin soporte para TS y yo quiero usar TS -->
        <Icon data-outline name="heart-outline" size={50} />
        <Icon data-full class="hidden" name="heart-full" size={50} />
      </button>
    </div>

    <PokemonCard name={name} url={url} isBig />
    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      espero que esto salga bien
    </audio>
  </section>
</MainLayout>
<script>
  interface FavoritePokemon {
    id: number;
    name: string;
  }

  const handlePageLoad = () => {
    //json.parse convierte el string a un objeto.
    //getitem devuelve el string almacenado en el localstorage
    //el operador ?? es un operador de coalescencia nula que devuelve el valor a la derecha si el valor a la izquierda es null o undefined
    let favoritePokemon: FavoritePokemon[] = JSON.parse(
      localStorage.getItem("favorites") ?? "[]" //esta linea es para obtener el array de favoritos del localstorage o un array vacio si no existe
    );

    const btnFav = document.querySelector("#btn-fav") as HTMLButtonElement;
    if (!btnFav) return;

    const name = btnFav.dataset.name ?? " ";
    const id = btnFav.dataset.id ?? " ";
    const isFavorite = favoritePokemon.some((fav) => fav.name === name); //el metodo some devuelve true si al menos un elemento del array cumple la condicion

    const heartOutline = btnFav.querySelector("[data-outline]") as HTMLElement;
    const heartFull = btnFav.querySelector("[data-full]") as HTMLElement;

    if (isFavorite) {
      heartOutline.classList.add("hidden");
      heartFull.classList.remove("hidden");
    }

    const toggleFavorite = () => {
      const isFavorite = favoritePokemon.some((fav) => fav.name === name);
      if (isFavorite) {
        //removber de favoritos
        favoritePokemon = favoritePokemon.filter((fav) => fav.name !== name); //el metodo filter devuelve un nuevo array con los elementos que cumplen la condicion
      } else {
        //agregar a favoritos
        favoritePokemon.push({
          id: +id, //el + convierte el string a number
          name,
        });
      }
      localStorage.setItem("favorites", JSON.stringify(favoritePokemon)); //convertimos el array a string para guardarlo en el localstorage, setitem guarda el string en el localstorage, y favorites es la clave
    };

    btnFav?.addEventListener("click", () => {
      heartOutline.classList.toggle("hidden"); //toggle agrega o quita una clase dependiendo de si existe o no
      heartFull.classList.toggle("hidden");
      toggleFavorite();
    });
  };

  document.addEventListener("astro:page-load", handlePageLoad);
</script>

<!-- <script define:vars={{ name, id }}>
  document.addEventListener("astro:page-load", () => {
    const btnFav = document.querySelector("#btn-fav");
    if (!btnFav) return;
    clone = btnFav.cloneNode(true); //clonamos el nodo para que no se elimine el evento al cambiar de pagina
    btnFav.replaceWith(clone); //reemplazamos el nodo original por el clon
    clone.addEventListener("click", () => {
      console.log("", name, id);
    });
  });
</script>
 -->
<style>
  @reference "../../styles/global.css";
  a {
    @apply hover:underline text-blue-500;
  }
  #btn-fav {
    @apply hover:animate-pulse;
  }
</style>
